.places {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 0 auto 92px;
}

@media screen and (max-width: 1920px) {
  .places {
    max-width: 984px;
  }
}

@media screen and (max-width: 1279px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    max-width: 720px;
    margin: 0 auto 90px;
    gap: 72px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    max-width: 320px;
    margin-bottom: 66px;
    gap: 50px;
  }
}
