.place__image {
  grid-row: 2/3;
  grid-column: 1/2;
  max-width: 460px;
  min-height: 460px;
}

@media screen and (max-width: 1279px) {
  .place__image {
    max-width: 440px;
    min-height: 440px;
  }
}

@media screen and (max-width: 1023px) {
  .place__image {
    max-width: 340px;
    min-height: 340px;
  }
}

@media screen and (max-width: 767px) {
  .place__image {
    max-width: 320px;
    min-height: 320px;
    grid-row: 3/4;
  }
}
