.lead {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1280px) {
    .lead {
        width: 984px;
        margin: 56px auto 92px;
    }
}

@media screen and (max-width: 1024px) {
    .lead {
        width: 928px;
        margin: 48px auto 92px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        width: 100%;
        margin: 48px 0 88px;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        width: 100%;
        margin: 48px 0 64px;
    }
}