.cover__subtitle {
  color: #fff;
  max-width: 360px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 32px auto 0;
  z-index: auto;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
    margin: 16px auto 0;
  }
}
