.footer__link {
    color: #fff;
    font-family: "Inter-Regular", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
}

.footer__link:nth-of-type(n+1) {
    margin-left: 18px;
}

.footer__link:nth-of-type(1) {
    margin: 0;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 320px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px
    }

    .footer__link:nth-of-type(n+1) {
        margin-left: 0;
    }

}