.lead__title {
    color: #fff;
    font-family: 'Inter-Black','Arial',sans-serif;
    text-align: center;
    width: 720px;
    font-size: 96px;
    line-height: 100px;
    margin: 0 auto;
}

@media screen and (max-width: 320px) {
    .lead__title {
        width: 288px;
        font-size: 40px;
        line-height: 44px;
        margin: 0 auto;
    }
}