.place__paragraph {
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  margin: 0;
  grid-row: 2/3;
  grid-column: 2/3;
  margin-top: 25px;
  max-width: 484px;
}

.place__paragraph:nth-of-type(1) {
  margin-top: 0;
}

@media screen and (max-width: 1279px) {
  .place__paragraph {
    max-width: 456px;
  }
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    max-width: 352px;
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    max-width: 288px;
    grid-row: 4/5;
    grid-column: 1/2;
    margin: 25px auto 0;
  }
}
