.cover {
  max-width: 1184px;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .cover {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 0;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    max-width: 768px;
    margin: 0 auto;
    
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    max-width: 320px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin: 0;
  }
}
