@media screen and (max-width: 1280px) {
.place {
        display: grid;
        grid-template-columns: 460px 484px;
        grid-template-rows: 76px 460px;
        row-gap: 48px;
        column-gap: 40px;
    }

    .place:nth-of-type(1) {
        grid-template-rows: 152px 460px;
    }

    .place:nth-of-type(4) {
        grid-template-rows: 152px 460px;
    }
}

@media screen and (max-width: 1024px) {
    .place {
        display: grid;
        grid-template-columns: 440px 456px;
        grid-template-rows: 76px 440px;
        row-gap: 48px;
        column-gap: 32px;
    }

    .place:nth-of-type(1) {
        grid-template-rows: 152px 440px;
    }

    .place:nth-of-type(4) {
        grid-template-rows: 152px 440px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        display: grid;
        grid-template-columns: 340px 352px;
        grid-template-rows: 46px 441px;
        row-gap: 48px;
        column-gap: 28px;
    }

    .place:nth-of-type(1) {
        grid-template-rows: 46px 441px;
    }

    .place:nth-of-type(3) {
        grid-template-rows: 46px 389px;
    }

    .place:nth-of-type(4) {
        grid-template-rows: 46px 337px;
    }

    .place:nth-of-type(5) {
        grid-template-rows: 46px 390px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        display: grid;
        grid-template-columns: 320px;
        row-gap: 32px;
    }

    .place:nth-of-type(1) {
        grid-template-rows: 35px 46px 320px 545px;
    }

    .place:nth-of-type(2) {
        grid-template-rows: 35px 46px 320px 519px;
    }

    .place:nth-of-type(3) {
        grid-template-rows: 35px 46px 320px 493px;
    }

    .place:nth-of-type(4) {
        grid-template-rows: 35px 46px 320px 467px;
    }

    .place:nth-of-type(5) {
        grid-template-rows: 35px 46px 320px 468px;
    }
}