@media screen and (max-width: 1920px) {
  .place {
    display: grid;
    grid-template-columns: 460px 484px;
    row-gap: 48px;
    column-gap: 40px;
  }
}

@media screen and (max-width: 1279px) {
  .place {
    display: grid;
    grid-template-columns: 440px 456px;
    row-gap: 48px;
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    display: grid;
    grid-template-columns: 340px 352px;
    row-gap: 48px;
    column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    display: grid;
    grid-template-columns: 320px;
    row-gap: 32px;
  }
}
