.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 92px auto 24px;
}

@media screen and (max-width: 1280px) {
    .footer {
    width: 1184px;
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        width: 720px;
        margin: 88px auto 24px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        width: 186px;
        margin: 64px 16px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 48px;
    }
}